.nav-tabs {
  font-family: 'Arial';
  color: black;
  font-size: 12px;
  font-weight: bold
}
.control-label {
  font-family: 'Arial';
  color: black;
  font-size: 12px;
  font-weight: bold
}
h2 {
  font-family: 'Arial';
  color: black;
  font-size: 18px;
  font-weight: bold
}